body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0px;
}

.alert {
    background-color: #ff4545;
    margin: 50px;
}

form {
    background-color: #f8f8ff;
    width: 300px;
    height: 250px;
    margin-top: -45px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;    
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 -4px 16px 0 rgba(0,0,0,.5);
}

input {
    margin: 5px;
    margin-bottom: 10px;
    background-color: whitesmoke;
}

.loginBtn {
    text-align: center;
}

.loginImage {
    background-image: url('https://c.wallhere.com/photos/c8/55/1600x837_px_Abstract_Art_Wallpaper_HD_abstract_images_anime_drawings_artworks_cool_photos_illustration_movie_characters-799936.jpg!d');
    background-repeat: no-repeat;
    background-size: 700px;    
    width: 300px;
    height: 325px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0 -4px 16px 0 rgba(0,0,0,.5);
}

.log-in, .log-out, .register {
  background-color: #FFE4F1;
  border-radius: 4px;
  color: black;
  font-weight: bold;
  min-height: 50px;
  min-width: 100px;
  outline:0;
  cursor: pointer;
}

.log-in:hover, .log-out:hover, .register:hover {
  background-color: #008183;
}

#loginTitle {
    position: absolute;
    font-family: URW Chancery L, cursive;
    font-size: 35px;
    left: 245px;
    top: 135px;
    color: black;
    font-weight: bolder;
}

/* This line makes the "Register" and "Login" buttons look like links */
.link-button {
    background:none;
    color:inherit;
    border:none;
    padding:0;
    font: inherit;
    outline:0;
    border-bottom:1px solid #444; 
    cursor: pointer;
}

